{% extends 'base.html' %}
{% load static %}
{% block main-block %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                {% if course %}
                <h3 class="page-title">Edit Course</h3>
                    {% else %}
                    <h3 class="page-title">Add Course</h3>
                    {% endif %} 
                
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'core:course-list' %}">Course</a></li>
                    {% if course %}
                    <li class="breadcrumb-item active">Edit Course</li>
                    {% else %}
                    <li class="breadcrumb-item active">Add Course</li>
                    {% endif %} 
                    
                </ul>
            </div>
        </div>
    </div>
{% include 'messages.html' %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if course %}
                    <form method="POST" action= "{% url 'core:update-course' id=course.id %}">
                    {% else %}
                    <form method="POST" action= "{% url 'core:add-course' %}">
                    {% endif %}                    
                        {% csrf_token %}
                        <div class="col-12">
                            <h5 class="form-title"><span>Add Course</span></h5>
                        </div>
                        <div class="col-sm-11">
                            <div class="form-group">
                                <label>Course Name</label>
                                <input type="text" class="form-control" name="course_name" value="{{course.name}}">
                            </div>
                        </div>                        
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Add Course</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer-block %}
{% include "footer.html" %}
{% endblock %}