{% extends 'base.html' %}
{% load static %}
{% block main-block %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Edit Sports</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'others:sports' %}">Sports</a></li>
                    <li class="breadcrumb-item active">Edit Sports</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Sports Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Sports ID</label>
                                    <input type="text" class="form-control"
                                        value="PRE1534">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Sports Name</label>
                                    <input type="text" class="form-control"
                                        value="Hockey">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Coach Name</label>
                                    <input type="text" class="form-control"
                                        value="Joseph">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Started Year</label>
                                    <input type="text" class="form-control"
                                        value="2005">
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer-block %}
{% include "footer.html" %}
{% endblock %}