<script>
    const other_student = "{{ student_gender_other }}";

  $(document).ready(function() {
    var options = {
          series: [44, 55, 41, 17],
          chart: {
            height: 350,
            width: '100%',
          type: 'donut',
        },
        labels: ['Student', 'Course', 'Student', 'Staff'],
        plotOptions: {
          pie: {
            startAngle: -90,
            endAngle: 270
          }
        },
        dataLabels: {
          enabled: false
        },
        fill: {
          type: 'gradient',
        },
        legend: {
          formatter: function(val, opts) {
            return val + " - " + opts.w.globals.series[opts.seriesIndex]
          }
        },
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
                height: 350,
            width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#gradient_donut"), options);
        chart.render();

    var options = {
          series: [44, 55, 41, 17],
          chart: {
          type: 'donut',
        },
        labels: ['Student', 'Course', 'Student', 'Staff'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
                height: 350,
                width: '100%',
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#donut_chart"), options);
        chart.render();
    
    var options = {
          series: ["{{ subject_count }}", "{{ course_count }}", "{{ student_count }}", "{{ staff_count }}"],
          chart: {
            height: 350,
            width: '100%',
          type: 'pie',
        },
        labels: ['Student', 'Course', 'Student', 'Staff'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
        };

        var chart = new ApexCharts(document.querySelector("#all_details"), options);
        chart.render();

if ($('#stud_gender').length > 0) {
var optionsBar = {
    chart: {
        type: 'bar',
        height: 350,
        width: '100%',
        stacked: true,
        toolbar: {
            show: false
        },
    },
    dataLabels: {
        enabled: false
    },
    plotOptions: {
        bar: {
            columnWidth: '45%',
        }
    },
    series: [{
        name: "Boys",
        color: '#fdbb38',
        data: ["{{ student_gender_male }}"],
    }, {
        name: "Girls",
        color: '#19affb',
        data: ["{{ student_gender_female }}"],
    }, {
        name: "Others",
        color: '#00ff00',
        data: [other_student],
    }],
    labels: [2009],
    xaxis: {
        labels: {
            show: false
        },
        axisBorder: {
            show: false
        },
        axisTicks: {
            show: false
        },
    },
    yaxis: {
        axisBorder: {
            show: false
        },
        axisTicks: {
            show: false
        },
        labels: {
            style: {
                colors: '#777'
            }
        }
    },
    title: {
        text: '',
        align: 'left',
        style: {
            fontSize: '18px'
        }
    }

}

var chartBar = new ApexCharts(document.querySelector('#stud_gender'), optionsBar);
chartBar.render();
}

});
</script>