{% extends 'base.html' %}
{% load static %}
{% block main-block %}
<div class="content container-fluid">

    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Hostel</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Hostel</li>
                </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="#" class="btn btn-outline-primary mr-2"><i class="fas
                        fa-download"></i> Download</a>
                <a href="{% url 'others:add-room' %}" class="btn btn-primary"><i class="fas
                        fa-plus"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0
                            datatable">
                            <thead>
                                <tr>
                                    <th>Block</th>
                                    <th>Room No</th>
                                    <th>Room Type</th>
                                    <th>No of Beds</th>
                                    <th>Cost per Bed</th>
                                    <th>Availability</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in hostel %}
                                <tr>
                                    <td>A Block</td>
                                    <td>101</td>
                                    <td>Medium</td>
                                    <td>6</td>
                                    <td>$10</td>
                                    <td>
                                        <span class="badge badge-danger">Full</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="actions">
                                            <a href="{% url 'others:edit-room' %}" class="btn
                                                btn-sm bg-success-light mr-2">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            <a href="#" class="btn btn-sm
                                                bg-danger-light">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer-block %}
{% include "footer.html" %}
{% endblock %}