{% extends 'base.html' %}
{% load static %}
{% block main-block %}
<div class="content container-fluid">
   <div class="page-header">
      <div class="row align-items-center">
         <div class="col">
            <h3 class="page-title">{% if staff %} Update Staffs {% else %} Add Staffs {% endif %}</h3>
            <ul class="breadcrumb">
               <li class="breadcrumb-item"><a href="{% url 'core:staff-list' %}">Staffs</a></li>
               <li class="breadcrumb-item active">{% if staff %} Update Staffs {% else %} Add Staffs {% endif %}</li>
            </ul>
         </div>
      </div>
   </div>

   {% include 'messages.html' %}

   <div class="row">
      <div class="col-sm-12">
         <div class="card">
            <div class="card-body">
               {% if staff %}
               <form method="POST" action= "{% url 'core:update-staff' id=staff.id %}" enctype="multipart/form-data">
               {% else %}
               <form method="POST" action= "{% url 'core:add-staff' %}" enctype="multipart/form-data">
               {% endif %}            
                  {% csrf_token %}
                  <div class="col-12">
                     <h5 class="form-title"><span>Staff Information</span></h5>
                  </div>
                  <div class="col-sm-4">
                     <div class="form-group">
                        <label>Profile Pic</label>
                        {% if i.admin.profile_pic %}
                        <input type="file" class="form-control"
                           name="profile_pic" required
                           value="{{staff.admin.profile_pic.url}}">
                        {% else %}
                        <input type="file" class="form-control"
                           name="profile_pic" value="{% static
                           'assets/img/profiles/placeholder_img.png' %}">
                        {% endif %}
                        
                     </div>
                  </div>
                  

                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control"
                           name="first_name" required
                           value="{{staff.admin.first_name}}">
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" name="last_name"
                           required value="{{staff.admin.last_name}}">
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" name="email"
                           required value="{{staff.admin.email}}">
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username"
                           required value="{{staff.admin.username}}">
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control"
                           name="password" placeholder="Fill only if you want to change password">
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" name="address" required>{{staff.address}}</textarea>
                     </div>
                  </div>
                  <div class="col-sm-11">
                     <div class="form-group">
                        <label>Gender</label>
                        <select class="form-control" name="gender" required>
                           <option>Select Gender</option>
                           <option value="Female" {% if staff.gender == "Female" %}selected="selected"{% endif %}>Female</option>
                           <option value="Male" {% if staff.gender == "Male" %}selected="selected"{% endif %}>Male</option>
                           <option value="Others" {% if staff.gender == "Others" %}selected="selected"{% endif %}>Others</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-12">
                     <button type="submit" class="btn btn-primary">{% if staff %} Update Staff {% else %} Add Staff {% endif %}</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block footer-block %}
{% include "footer.html" %}
{% endblock %}