<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li class="submenu active">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="/" class="active">Admin Dashboard</a></li>
                   <li><a href="{% url 'core:teacher-dashboard' %}">Teacher Dashboard</a></li>
                   <li><a href="/student/dashboard/">Student Dashboard</a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'core:student-list' %}">Student List</a></li>
                   <li><a href="{% url 'core:student-details' %}">Student View</a></li>
                   <li><a href="{% url 'core:add-student' %}">Student Add</a></li>
                   <li><a href="{% url 'core:edit-student' %}">Student Edit</a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'core:teacher-list' %}">Teacher List</a></li>
                   <li><a href="{% url 'core:teacher-details' %}">Teacher View</a></li>
                   <li><a href="{% url 'core:add-teacher' %}">Teacher Add</a></li>
                   <li><a href="{% url 'core:edit-teacher' %}">Teacher Edit</a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'core:department-list' %}">Department List</a></li>
                   <li><a href="{% url 'core:add-department' %}">Department Add</a></li>
                   <li><a href="{% url 'core:edit-teacher' %}">Department Edit</a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'core:subject-list' %}">Subject List</a></li>
                   <li><a href="{% url 'core:add-subject' %}">Subject Add</a></li>
                   <li><a href="{% url 'core:edit-subject' %}">Subject Edit</a></li>
                </ul>
             </li>
             <li class="menu-title">
                <span>Management</span>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Accounts</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'management:fees-collections' %}">Fees Collection</a></li>
                   <li><a href="{% url 'management:expenses' %}">Expenses</a></li>
                   <li><a href="{% url 'management:salary' %}">Salary</a></li>
                   <li><a href="{% url 'management:add-fees-collection' %}">Add Fees</a></li>
                   <li><a href="{% url 'management:add-expenses' %}">Add Expenses</a></li>
                   <li><a href="{% url 'management:add-salary' %}">Add Salary</a></li>
                </ul>
             </li>
             <li>
                <a href="{% url 'management:holiday' %}"><i class="fas fa-holly-berry"></i> <span>Holiday</span></a>
             </li>
             <li>
                <a href="{% url 'management:fees' %}"><i class="fas fa-comment-dollar"></i> <span>Fees</span></a>
             </li>
             <li>
                <a href="{% url 'management:exam' %}"><i class="fas fa-clipboard-list"></i> <span>Exam list</span></a>
             </li>
             <li>
                <a href="{% url 'management:event' %}"><i class="fas fa-calendar-day"></i> <span>Events</span></a>
             </li>
             <li>
                <a href="{% url 'management:time-table' %}"><i class="fas fa-table"></i> <span>Time Table</span></a>
             </li>
             <li>
                <a href="{% url 'management:library' %}"><i class="fas fa-book"></i> <span>Library</span></a>
             </li>
             <li class="menu-title">
                <span>Pages</span>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-shield-alt"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="{% url 'core:account-login' %}">Login</a></li>
                   <li><a href="{% url 'core:account-register' %}">Register</a></li>
                   <li><a href="{% url 'core:account-forgot-password' %}">Forgot Password</a></li>
                   <li><a href="{% url 'core:error-404' %}">Error Page</a></li>
                </ul>
             </li>
             <li>
                <a href="{% url 'core:blank-page' %}"><i class="fas fa-file"></i> <span>Blank Page</span></a>
             </li>
             <li class="menu-title">
                <span>Others</span>
             </li>
             <li>
                <a href="{% url 'others:sports' %}"><i class="fas fa-baseball-ball"></i> <span>Sports</span></a>
             </li>
             <li>
                <a href="{% url 'others:hostel' %}"><i class="fas fa-hotel"></i> <span>Hostel</span></a>
             </li>
             <li>
                <a href="{% url 'others:transport' %}"><i class="fas fa-bus"></i> <span>Transport</span></a>
             </li>
             <li class="menu-title">
                <span>UI Interface</span>
             </li>
             <li>
                <a href="components.html"><i class="fas fa-vector-square"></i> <span>Components</span></a>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-columns"></i> <span> Forms </span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="form-basic-inputs.html">Basic Inputs </a></li>
                   <li><a href="form-input-groups.html">Input Groups </a></li>
                   <li><a href="form-horizontal.html">Horizontal Form </a></li>
                   <li><a href="form-vertical.html"> Vertical Form </a></li>
                   <li><a href="form-mask.html"> Form Mask </a></li>
                   <li><a href="form-validation.html"> Form Validation </a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fas fa-table"></i> <span> Tables </span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="tables-basic.html">Basic Tables </a></li>
                   <li><a href="data-tables.html">Data Table </a></li>
                </ul>
             </li>
             <li class="submenu">
                <a href="javascript:void(0);"><i class="fas fa-code"></i> <span>Multi Level</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li class="submenu">
                      <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                      <ul>
                         <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                         <li class="submenu">
                            <a href="javascript:void(0);"> <span> Level 2</span> <span class="menu-arrow"></span></a>
                            <ul>
                               <li><a href="javascript:void(0);">Level 3</a></li>
                               <li><a href="javascript:void(0);">Level 3</a></li>
                            </ul>
                         </li>
                         <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
                      </ul>
                   </li>
                   <li>
                      <a href="javascript:void(0);"> <span>Level 1</span></a>
                   </li>
                </ul>
             </li>
          </ul>
       </div>
    </div>
 </div>